header{
    
    background-color: aquamarine;
margin: auto;
padding: 120px;
}

body{
    
    background-color: rgb(209, 209, 209);
margin: auto;

}
.topicos{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.texto{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
    display: flex;
    background-color: rgb(72, 255, 0);
    margin: auto;
    padding: 80px;
}   
.titulo-principal{
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color: brown;
}