:root{
    background-color: azure;
}
header{
    display: inline ;
    background-color: aquamarine;
margin: 180px;
}

body{
    display: inline ;
    background-color: rgb(209, 209, 209);
margin: 180px;
}
.topicos{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.texto{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
    display: flex;
    background-color: blanchedalmond;
    margin: 70px;
    padding: 70px;
}   
