header{
    
    background-color: rgb(36, 32, 253);
margin: auto;
padding: 120px;
}

body{
    
    background-color: #fff;
margin: auto;

}
.topicos{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.texto{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer{
    display: flex;
    background-color: rgb(72, 255, 0);
    margin: auto;
    padding: 80px;
}   
.titulo-principal{
   display: flex;
   justify-content: center;
    text-align: center;
    font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 211, 11);
}
.container__botao {
    display: flex;
    align-items: end;
    text-align: end;
      background-color: var(--botao-azul);
      border-radius: 20px;
      padding: 0.3em;
      color: var(--branco-principal);
      display: block;
      text-decoration: none;
      margin-bottom: 0.3em;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }